.wrapper {
    max-width: 1280px;
    width: 90%;
    margin: 0 auto;
}

html {
    font-size: 125%;
    font-family: 'Cinzel Decorative', cursive;
}

h1, h2, h3 {
    margin: 0;
    padding: 0;
}
h3{ 
    font-family: 'Tangerine', cursive;
    font-size: 2rem;
}
p{
    font-family: 'Tangerine', cursive;
    font-size: 1.8rem;
}

ul {
    margin: 0;
    padding:0;
}

li {
    list-style-type: none;
}
button, input {
    font-family: 'Cinzel Decorative', cursive;
}
main {
    background-color: #546150;
    height: 70vh;   
}
form, fieldset {
    border: none;
}

