.userSelection {
    margin:20px;
}

.container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

button{
    margin-top: 10px;
    width:100%;
    border: none;
    background-color: rgb(55, 70, 55);
    color: white;
    padding: 15px;
    margin-bottom: 50px;
    transition: 0.3s;
    border-radius: 6px;
    &:hover , &:focus{
        background-color: white;
        color:rgb(55, 70, 55);
        border:2px solid rgb(55, 70, 55);
    }
}

select {
    font-family:'Cinzel Decorative', cursive;
    border: none;
    border-radius: 6px;
}

fieldset{
    padding:0;
}

input {
    border: none;
    border-radius: 6px;
    margin-bottom: 10px;
}

