.userSelection {
    margin:20px;
}

.container {
    display: flex;
}

button{
    margin-top: 10px;
    width:100%;
    border: none;
    background-color: rgb(55, 70, 55);
    color: white;
    padding: 15px;
}
select {
    font-family:'Cinzel Decorative', cursive;
}

input {
    border: none;
}