@media( max-width: 666px){

    .backstory{
        display: flex;
        flex-direction: column;
        p{
            padding: 0 20px;
        }
    }

    .imageContainer {
        text-align: center;
     img{
        height:120px;
        position: relative;
        }
    }

    .characterCard{
        width: 90%;
    }

    .container{
        justify-content: center;
    }
}
