.characterCard{
    background-color: rgb(55, 70, 55);
    border-radius: 20px;
    margin: 20px;
    color: white;
    box-shadow: 10px 5px 5px black;
    position: relative;
    // padding: 10px 10px;
    h3{
        padding: 15px;
    }
    p{
        padding:15px 15px 15px 0;
    }
}


main .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.backstory h3{
    align-self: start;
}

.imageContainer img {
    height: 160px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 11px;
    right: 10px;
    box-shadow: 5px 5px 5px black;
    border-radius: 3px;
}

footer{
    text-align: center;
    background-color: rgb(55, 70, 55);
    color:white;
    padding:10px 0;
    p{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 0.9rem;
    }
}