.characterCard{
    // background-image: url(../assets/vintage-grunge-paper-background.jpg);
    // height:100%;
    // width:100%;
    background-color: rgb(55, 70, 55);
    border-radius: 20px;
    margin: 20px;
    color: white;
    // padding:30px 10px 30px 10px;
    box-shadow: 10px 5px 5px black;
    position: relative;
    h3{
        padding: 10px;
    }
}


main .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.backstory h3{
    align-self: start;
}

.imageContainer img {
    // background-image: url(../assets/Acolyte.webp);
    height: 180px;
    width: 170px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
    position: absolute;
    top: 11px;
    right: 10px;
    box-shadow: 5px 5px 5px black;
}

footer{
    text-align: center;
    background-color: rgb(55, 70, 55);
    color:white;
    padding:10px 0;
    p{
        font-family: 'Cinzel Decorative', cursive;
        font-size: 0.9rem;
    }
}