.characterCard{
    // background-image: url(../assets/vintage-grunge-paper-background.jpg);
    height:100%;
    width:100%;
    background-color: grey;
    border-radius: 20px;
    margin: 20px;
    padding:30px 10px 30px 10px;
    box-shadow: 10px 5px 5px black;
    h3{
        padding: 10px;
    }
}


main .wrapper{
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

.backstory h3{
    align-self: start;
}
